/* Checkout.css */
.reduced-font-size {
    font-size: 0.875rem; /* Adjust the font size as needed */
  }
  
  .reduced-table {
    font-size: 0.75rem; /* Adjust the font size as needed */
  }
  
  .reduced-table th {
    font-size: 0.75rem; /* Adjust the font size as needed */
  }
  
  .reduced-table td {
    font-size: 0.75rem; /* Adjust the font size as needed */
  }
 /* Checkout.css */
.reduced-font-size {
  font-size: 0.875rem; /* Adjust the font size as needed */
}

.reduced-table {
  font-size: 0.75rem; /* Adjust the font size as needed */
}

.reduced-table th {
  font-size: 0.75rem; /* Adjust the font size as needed */
}

.reduced-table td {
  font-size: 0.75rem; /* Adjust the font size as needed */
}

.form {
  background-color: rgb(255, 255, 255) !important;
  border: 2px solid #3bb77e !important;
  border-radius: 5px;
}

.checkOutInfo:hover {
  text-decoration: underline;
}